/* Reset general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.35s linear;
    font-family: "Poppins", sans-serif;
}

/* Estilos del body */
body {
    background-color: #111; /* Fondo oscuro */
    color: white;
    min-height: 100vh;
}

/* Estilo para títulos */
h1,
h3 {
    color: aliceblue;
    text-align: center;
    margin-bottom: 20px;
}

/* Contenedor principal */
.container-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

/* Sección de contenido */
.content-section {
    padding: 0 20px;
    width: 50%;
    max-width: 600px;
}

/* Sección de inputs */
.input-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #222; /* Fondo más oscuro */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra */
    max-width: 400px;
    margin: auto;
    justify-content: center; /* Centra los elementos verticalmente */
    text-align: center; /* Centra el texto */
}

/* Inputs y botones */
textarea,
input,
select,
button {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    font-size: 16px;
    width: 100%; /* Ocupa todo el ancho del contenedor */
    max-width: 300px;
    background: #2C2C2C; /* Fondo oscuro */
    color: #fff;
    display: block;
    text-align: center; /* Centra el texto dentro de los inputs */
}

button {
    background-color: #007bff; /* Azul */
    color: white;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px #007bff; /* Sombra azul */
}

/* Checkbox personalizado */
.checkbox-label {
    display: block;
    color: #ddd;
    margin: 10px 0;
}

.container {
    display: block;
    color: white;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
    width: 100%;
    max-width: 300px;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 5px;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: #007bff;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

/* Estilos para áreas específicas */
#article,
#description,
#keywords-generated {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #1e1e1e;
    box-shadow: 0 2px 5px rgba(248, 248, 248, 0.1);
    width: 350px;
    height: 200px;
    color: white;
    overflow-y: scroll;
}
